body {
    display: grid;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.title {
    font-family: "StanhopeRR Bold";
    font-size: 18px;
}

#joinLine{
    stroke: #969696;
    stroke-width: 0.25px;
    position: absolute;
}

#tooltip {
    /* position: absolute; */
    display: block;
    right: 20px;
    width: 650px;
    height: auto;
    padding: 10px;
    background-color: #ffffff;
    /* outline: black solid 1px; */
}

#tooltip.hidden {
    display: none;
}

#tooltip p {
    margin: 0px;
    font-size: 25px;
    line-height: 30px;
}

.scale-path {
    font-size: 11px;
    fill: #969696;
}

/* .svg-container {
    position: absolute;
    z-index: 10;
} */

.line {
    position: absolute;
    background-color: black;
    height: 2px;
    z-index: 9;
}

.origin-text{
    /* font-family: "StanhopeRR Bold"; */
    font-family: "Univers";
    font-size: 8px;
    fill: black;
    /* dy: .35em */
    text-anchor: start;
    z-index: 15;
}

.legend-text {
    font-size: 14px;
    fill: #969696;
}

.legend-number {
    font-size: 18px;
    font-weight: bold;
    fill: black;
}

.legend-label {
    font-size: 14px;
    font-weight: normal;
    fill: black;
}

.legend-category {
    font-size: 14px;
    font-weight: normal;
    fill: black;
}

.scale {
    stroke: #969696;
    stroke-width: 0.25px;
}

.scale-dashed {
    stroke: #969696;
    stroke-width: 0.25px;
    stroke-dasharray: 3, 3;
}

#container {
    display: grid;
    place-items: center;
    position: relative;
    align-items: center;
    justify-content: center;
    /* height: 100vh;  */
}

#chart-container {
    margin-right: 20px;
    justify-content: center;
    align-items: center;
}

#chart-container svg, #map svg {
    display: block; /* Ensure the SVG is visible */
    justify-content: center;
    align-items: center;
}

#right-legend-container {
    width: 300px;
    margin-left: 20px;
    margin-right: 20px;
    justify-content: center;
    align-items: center;
}

#left-legend-container {
    width: 300px;
    margin-left: 20px;
    margin-right: 20px;
    justify-content: center;
    align-items: center;
}

#map {
    /* height: 600px; */
    /* width: 100vw; */
    height: 900px;
    width: 1800px;
    margin: 50px;
}

#filter-container {
    margin-top: 10px;
    margin-left: 50px;
    background: white;
    /* padding: 10px; */
    /* border: 1px solid #ccc; */
    align-items: center;
    justify-content: center;
}

#legend {
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    justify-content: center;
}

.legend-container {
    display: flex;
    flex-direction: column;
    font-family: 'StanhopeRR Bold', sans-serif;
}

.legend-item {
    display: flex;
    align-items: center;
    margin-bottom: 3px;
}

.legend-color {
    width: 18px;
    height: 18px;
    margin-right: 8px;
}

.legend-text {
    font-size: 14px;
    line-height: 18px;
}

.legend-title {
    font-size: 18px;
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: bold;
}

.legend-subtext {
    font-size: 12px;
    color: #9c9c9c;
}

.legend-subtext-2 {
    font-size: 12px;
    width: 72px;
    text-align: end;
    color: #9c9c9c;
}

.legend-highlight {
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 5px;
}

.legend-category {
    font-size: 14px;
    font-weight: normal;
    fill: black;
}

.legend-percentage {
    font-size: 14px;
}

.legend-header {
    font-size: 14px;
    font-weight: bold;
}

.legend-counts {
    font-size: 14px;
}

.legend-svg-container {
    display: flex;
    align-items: center;
}

#chart-title {
    width: 300px;
    margin-top: 20px;
}

#chart-title-container {
    width: 300px;
    margin-top: 20px;
}

.chart-title {
    font-size: 18px;
    font-weight: bold;
}

#chart-subtext-container {
    margin-top: 10px;
}

.chart-subtext {
    font-size: 14px;
    color: #555;
}

.legend-header-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 10px;
}

.legend-title-container {
    margin-bottom: 20px;
}

.legend-combined-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.legend-detail-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-bottom: 5px;
}